<nav class='navbar'>
    <div class='logo'>
        <img src='/images/ps2-logo.png' alt='logo'/>
        <p>Games Vault</p>
    </div>
    <a href='/' class='link'>
        <span class='material-symbols-rounded'>
            home
        </span>
        <p>
            Homepage
        </p>
    </a>
    <a href='/games' class='link'>
        <span class='material-symbols-rounded'>
            sports_esports
        </span>
        <p>
            Games
        </p>
    </a>
    <a href='/genres' class='link'>
        <span class='material-symbols-rounded'>
            genres
        </span>
        <p>
            Genres
        </p>
    </a>
    <a href='/publishers' class='link'>
        <span class='material-symbols-rounded'>
            copyright
        </span>
        <p>
            Publishers
        </p>
    </a>
    <a href='/about' class='link'>
        <span class='material-symbols-rounded'>
            lightbulb
        </span>
        <p>
            About
        </p>
    </a>
    <a href='/addNewGame' class='link'>
        <span class='material-symbols-rounded'>
            add_circle
        </span>
        <p>
            Add Game
        </p>
    </a>
    <a href='https://github.com/IgnacioGandur/ps2-games-inventory-app' target='about_blank' class='link'>
        <span class='material-symbols-rounded'>
            code
        </span>
        <p>
            Github
        </p>
    </a>
</nav>
