<nav class='navbar'>
    <a href='/'>Homepage</a>
    <a href='/genres'>Genres</a>
    <div class='logo'>
        logo
    </div> 
    <a href='/publishers'>Publishers</a>
    <a href='/search'>Search games</a>
</nav>
