.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
    font-family: var(--font-main);
}

.about-page > .tools-container {
    width: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 1em;
    list-style-type: none;
    gap: 1em;
}

.about-page > .tools-container > .tool {
    position: relative;
    height: auto;
    overflow: hidden;
    border-radius: 5px;
}

.about-page > .tools-container > .tool > .background {
    background-image: linear-gradient(
        45deg,
        #ffffff22,
        #ffffff22,
        #ffffff22,
        #ffffff22,
        #ffffff22,
        #ffffff22,
        var(--color-blue),
        var(--color-green),
        var(--color-yellow),
        var(--color-red),
        var(--color-red),
        var(--color-red)
    );
    background-size: 300%;
    background-position: left bottom;
    width: 150%;
    height: 250%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 500ms ease-in-out;
    border-radius: 5px;
}

.about-page > .tools-container > .tool > .content {
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    background-color: black;
    padding: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.about-page > .tools-container > .tool > .content > .images-container {
    width: 25%;
    display: flex;
    justify-content: center;
    position: relative;
}

.about-page > .tools-container > .tool > .content > .images-container > img {
    width: 100%;
}

.about-page
    > .tools-container
    > .tool
    > .content
    > .images-container
    > img.effect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 400ms ease-in-out;
}

.about-page
    > .tools-container
    > .tool
    > .content:hover
    > .images-container
    > img.effect {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
}

.about-page > .tools-container > .tool > .content > .separator {
    width: 100%;
    min-height: 1px;
    background-image: linear-gradient(
        90deg,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        white,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent
    );
    background-size: 300%;
    transition: all 3s ease-in-out;
}

.about-page > .tools-container > .tool > .content > .first-separator {
    background-position: 0% 50%;
}

.about-page > .tools-container > .tool:hover > .content > .first-separator {
    background-position: 100% 50%;
    animation: moveShine 2s cubic-bezier(0, 1, 1, 0) infinite alternate;
}

.about-page > .tools-container > .tool > .content > .separator:last-of-type {
    background-position: 100% 50%;
}

.about-page
    > .tools-container
    > .tool:hover
    > .content
    > .separator:last-of-type {
    background-position: 0% 50%;
    animation: moveShine 2s cubic-bezier(0, 1, 1, 0) infinite alternate-reverse;
}

.about-page > .tools-container > .tool:hover > .background,
.about-page > .tools-container > .tool:focus > .background,
.about-page > .tools-container > .tool:focus-visible > .background {
    animation: animateBackground 2s ease-in-out infinite;
    background-position: right top;
}
