@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap");

:root {
    --font-main: "Roboto", sans-serif;
    --font-decorative: "Rock Salt", cursive;
    --color-dark-background: #001b29;
    --color-blue: #2d6cb3;
    --color-yellow: #f2c200;
    --color-red: #de0023;
    --color-green: #00ab9e;
    --color-blue-transparent: #2d6cb355;
    --color-yellow-transparent: #f2c20055;
    --color-red-transparent: #de002355;
    --color-green-transparent: #00ab9e55;
}

* {
    /*border: 1px solid red;*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    overflow: auto;
}

body {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/*navbar */

.navbar {
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 0.5em;
    border-bottom: 1px solid #ffffff22;
    position: relative;
}

.navbar > .logo {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 0.5em;
}

.navbar > .logo > img {
    width: 100px;
}

.navbar > .logo > p {
    font-family: var(--font-main);
    font-size: 0.75rem;
    align-self: flex-end;
    font-weight: 900;
}

.navbar > .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: white;
}

.navbar > .link > span {
    transition: all 300ms ease-in-out;
}

.navbar > .link:hover > span,
.navbar > .link:focus-visible > span {
    transform: scale(1.2);
    animation: wiggle 300ms ease-out forwards;
}

.navbar > .link > span {
    transition: all 500ms ease-in-out;
    font-size: 2rem;
    z-index: 10;
}

.navbar > .link > p {
    text-align: center;
    position: absolute;
    bottom: -75%;
    border-bottom: 2px solid transparent;
    color: white;
    padding: 0.5em;
    font-family: var(--font-main);
    background-color: black;
    opacity: 0;
    transition: all 200ms ease-in-out;
    white-space: nowrap;
    font-weight: 700;
    transform: translateY(-100%) scale(0.25);
    z-index: 20;
}

.navbar > .link:hover > p,
.navbar > .link:focus-visible > p {
    opacity: 1;
    border-bottom: 3px solid white;
    transform: translateY(0%) scale(1);
}

/*Index page*/

.index-page {
    padding: 0 3em;
}

/* main page sidebar*/

.sidebar {
    width: fit-content;
    height: fit-content;
    position: relative;
    display: flex;
}

.sidebar > .decoration-line {
    padding: 0 1.5em;
}

.sidebar > .decoration-line > .vertical-line {
    height: 93%;
    width: 2px;
    background-color: white;
}

.sidebar > .links {
    display: flex;
    flex-direction: column;
    padding-top: 3em;
}

.sidebar > .links > .logo {
    display: flex;
    gap: 0.25em;
    align-items: flex-end;
}

.sidebar > .links > .logo > h1 {
    font-family: var(--font-main);
    font-weight: 900;
    font-size: 1rem;
}

.sidebar > .links > .logo > img {
    width: 150px;
}

.sidebar > .links > * {
    padding: 20px 10px;
}

.sidebar > .links > a {
    position: relative;
    display: flex;
    text-decoration: none;
    font-family: var(--font-main);
    font-weight: 700;
    color: white;
    transition: all 200ms ease-in-out;
    border: 1px solid transparent;
    border-radius: 5px;
}

.sidebar > .links > a:hover {
    background-color: var(--color-blue-transparent);
    border: 2px solid #ffffff22;
}

.sidebar > .links > a > .indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: -34px;
}

.sidebar > .links > a > .indicator > .diamond {
    width: 17px;
    height: 17px;
    transform: rotate(45deg);
    background-color: black;
    border: 2px solid white;
    transition: all 300ms ease-in-out;
}

.sidebar > .links > a:hover > .indicator > .diamond,
.sidebar > .links > a:focus-visible > .indicator > .diamond {
    transform: rotate(135deg) scale(1.75);
}

.sidebar > .links > a > span {
    font-size: 1.75rem;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.sidebar > .links > a:hover > span,
.sidebar > .links > a:focus > span {
    transform: translateX(12px);
}

.sidebar > .links > a > .hidden-tags {
    height: fit-content;
    width: 900px;
    position: absolute;
    top: -100%;
    left: 103%;
    list-style-type: none;
    display: none;
    flex-wrap: wrap;
    gap: 0.25em;
    transition: all 400ms ease-in-out;
}

.sidebar > .links > a.links-with-hidden-tags:hover > .hidden-tags,
.sidebar > .links > a.links-with-hidden-tags:focus > .hidden-tags {
    display: flex;
    perspective: 1000px;
    perspective-origin: top left;
}

.sidebar > .links > a.links-with-hidden-tags:hover > .hidden-tags,
.sidebar > .links > a.links-with-hidden-tags:focus > .hidden-tags {
    display: flex;
}

.sidebar > .links > a.links-with-hidden-tags:hover > .hidden-tags > li,
.sidebar > .links > a.links-with-hidden-tags:focus > .hidden-tags > li {
    opacity: 0;
    animation-name: scale-li;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    transform-origin: top center;
    border: 2px solid #ffffff22;
}

.sidebar > .links > a > .hidden-tags > li {
    background-color: #00000055;
    padding: 1em;
    font-size: 1.1rem;
    text-align: center;
    transition: all 200ms ease-in-out;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid transparent;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.sidebar > .links > a > .hidden-tags > li:hover {
    background-color: var(--color-blue-transparent);
}

/*games page */

.games {
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1em 0;
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 1em;
}

/*games sort-sidebar*/

.games > .sort-sidebar {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 3em;
    border-right: 1px solid #ffffff22;
    padding: 1em;
}

.games > .sort-sidebar > .sort,
.games > .sort-sidebar > .filter {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.games > .sort-sidebar > div > h4 {
    font-family: var(--font-main);
}

.games > .sort-sidebar > div > .sort-options {
    display: flex;
    justify-content: center;
}

.games > .sort-sidebar > div > .sort-options > button {
    flex: 1;
    padding: 0.9em;
    background-color: transparent;
    color: white;
    font-family: var(--font-main);
    font-weight: 700;
    border: 1px solid #ffffff33;
    cursor: pointer;
}

.games > .sort-sidebar > div > .sort-options > button:first-of-type {
    border-radius: 5px 0 0 5px;
}

.games > .sort-sidebar > div > .sort-options > button:last-of-type {
    border-radius: 0 5px 5px 0;
}

.games > .sort-sidebar > div > .options-container {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.games > .sort-sidebar > div > form > .option {
    flex: 1;
    display: flex;
}

.games > .sort-sidebar > div > form > button {
    grid-column: 1 / -1;
    padding: 1em;
    color: white;
    background-color: transparent;
    border: 1px solid #ffffff22;
    font-family: var(--font-main);
    border-radius: 5px;
}

.games > .sort-sidebar > div > form > div {
    position: relative;
}

.games > .sort-sidebar > div > form > div:last-of-type {
    grid-column: 1 / -1;
}

.games > .sort-sidebar > div > form > div > label {
    width: 100%;
    padding: 0.75em;
    text-transform: capitalize;
    text-align: center;
    font-family: var(--font-main);
    border-radius: 5px;
    border: 1px solid #ffffff22;
    cursor: pointer;
    z-index: 10;
    transition: all 200ms ease-in-out;
}

.games > .sort-sidebar > div > form > div > label:hover {
    background-color: #2d6cb3;
    transform: scale(1.075);
    /*animation: pop-up 400ms linear forwards;*/
}

.games > .sort-sidebar > div > form > div > label:active {
    transform: scale(0.9);
}

.games > .sort-sidebar > div > form > div > input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
}

.games
    > .sort-sidebar
    > div
    > form
    > div
    > input[type="checkbox"]:checked
    + label {
    background-color: #00ab9e;
}

/*games grid*/

.games > .games-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    /*grid-template-rows: 75px repeat(auto-fit, 375px);*/
    gap: 0.5em;
    flex: 6;
    padding: 0 1em 0 0;
}

.games-grid > .filters {
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    font-family: var(--font-main);
    gap: 1em;
}

.games-grid > .filters > p {
    font-size: 1.25rem;
    font-weight: 700;
}

.games-grid > .filters > ul {
    list-style-type: none;
    display: flex;
    gap: 1em;
    align-items: center;
}

.games-grid > .filters > ul > li {
    background-color: var(--color-blue-transparent);
    border: 1px solid var(--color-blue);
    border-radius: 5px;
}

.games > .games-grid > .game {
    border-radius: 0.25em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: all 200ms ease-in-out;
    box-shadow:
        rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 10;
}

.games > .games-grid > .game > .gradient-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(transparent 70%, #000000ff);
    opacity: 0;
    z-index: 10;
    transition: all 200ms ease-in;
}

.games > .games-grid > .game:hover > .gradient-overlay {
    opacity: 1;
}

.games > .games-grid > .game > a {
    text-transform: capitalize;
    z-index: 10;
    padding: 1em;
}

.games > .games-grid > .game > a > h3 {
    font-size: 1rem;
    opacity: 0;
    transform: translateY(200%);
    transition: all 200ms ease-in;
}
.games > .games-grid > .game:hover > a > h3 {
    transform: translateY(0%);
    opacity: 1;
}

.games > .games-grid > .game > img {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 200ms ease-in-out;
}

.games > .games-grid > .game > a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 1.25rem;
    font-family: var(--font-main);
    font-weight: 700;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.games > .games-grid > .game > button {
    background-color: black;
    border: 1px solid #ffffff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: transparent;
    opacity: 0;
    transform: translateX(100%);
    z-index: 10;
    position: absolute;
    bottom: 10px;
    right: 7px;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.games > .games-grid > .game > button > span {
    color: #ffffff;
    font-size: 1.25rem;
}

.games > .games-grid > .game:hover > button {
    opacity: 1;
    transform: translateX(0%);
}

/*add game form */

.add-game-form {
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.add-game-form > .errors {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 2em;
    background-color: var(--color-red-transparent);
    border: 1px solid var(--color-red);
    gap: 0.5em;
}

.add-game-form > .errors > * {
    font-family: var(--font-main);
}

.add-game-form > .errors > p {
    font-size: 1.25rem;
    text-align: center;
    font-weight: 900;
}

.add-game-form > .errors > p:last-of-type {
    font-size: 1rem;
}

.add-game-form > .errors > p > a {
    color: white;
}

.add-game-form > form {
    border-left: 1px solid #ffffff22;
    border-right: 1px solid #ffffff22;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-family: var(--font-main);
}

.add-game-form > form > h4 {
    position: relative;
}

.add-game-form > form > .divider {
    height: 1px;
    width: 100%;
    background-color: #ffffff22;
}

.add-game-form > form > label {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    position: relative;
}

.add-game-form > form > label > .text,
.add-game-form > form > label > .text > .info-bubble {
    display: flex;
    gap: 1em;
    align-items: center;
}

.add-game-form > form > label > .text > .info-bubble > span {
    font-size: 1rem;
}

.add-game-form > form > label > .text > .info-bubble > p {
    border: 1px solid #ffffff22;
    padding: 1em;
    transform: scale(0);
    background-color: black;
    position: absolute;
    z-index: 5;
    opacity: 0;
    transform-origin: left center;
    transition: all 300ms ease-in-out;
}
.add-game-form > form > label > .text > .info-bubble > span:hover + p,
.add-game-form > form > label > .text > .info-bubble > p:hover {
    transform: scale(1);
    opacity: 1;
}

.add-game-form > form > label:has(input:user-invalid)::before {
    content: "Invalid input";
    position: absolute;
    left: 50%;
    font-style: italic;
    transform: translateX(-50%);
    color: var(--color-red);
    font-family: var(--font-main);
}

.add-game-form > form > label:has(input:user-valid)::before {
    content: "Nice!";
    position: absolute;
    left: 50%;
    font-style: italic;
    transform: translateX(-50%);
    color: var(--color-green);
    font-family: var(--font-main);
}

.add-game-form > form > label::after,
.add-game-form > form > h4::after {
    content: "Required";
    font-style: italic;
    font-size: 0.75rem;
    font-weight: 200;
    position: absolute;
    right: 2px;
    top: 5px;
    z-index: 10;
}

.add-game-form > form > label > input {
    background-color: black;
    color: white;
    padding: 0.75em;
    border: 1px solid #ffffff22;
    border-radius: 5px;
    position: relative;
    transition: all 200ms ease-in-out;
}

.add-game-form > form > label > input:hover {
    border: 1px solid var(--color-yellow);
}

.add-game-form > form > label > input:focus-visible {
    background-color: var(--color-blue-transparent);
    border: 1px solid var(--color-blue);
}

.add-game-form > form > label > input:user-invalid {
    border: 1px solid var(--color-red);
    background-color: var(--color-red-transparent);
}

.add-game-form > form > label > input:user-valid {
    border: 1px solid var(--color-green);
    background-color: var(--color-green-transparent);
}

.add-game-form > form > .options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
}

.add-game-form > form > .options-container > .option {
    display: flex;
    gap: 0.5em;
    align-items: center;
    position: relative;
    border: 1px solid #ffffff22;
    border-radius: 5px;
    overflow: hidden;
}

.add-game-form > form > .options-container > .option > label {
    font-family: var(--font-main);
    text-transform: capitalize;
    padding: 1em;
    flex: 1;
    cursor: pointer;
    z-index: 10;
    transition: all 250ms ease-out;
}

.add-game-form > form > .options-container > .option > label:hover {
    background-color: var(--color-blue);
}

.add-game-form > form > .options-container > .option > label:active {
    transform: scale(0.95);
}

.add-game-form > form > .options-container > .option > input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

.add-game-form
    > form
    > .options-container
    > .option
    > input[type="checkbox"]:checked
    + label,
.add-game-form
    > form
    > .options-container
    > .option
    > input[type="radio"]:checked
    + label {
    background-color: var(--color-green);
}

.add-game-form
    > form
    > .options-container
    > .option:has(input[type="checkbox"]:checked) {
    animation: select 250ms ease-in;
}

.add-game-form > form > .submit-form-button {
    padding: 1em;
    background-color: transparent;
    color: white;
    font-family: var(--font-main);
    border: 1px solid #ffffff22;
    border-radius: 5px;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.add-game-form > form > .submit-form-button:hover {
    background-color: white;
    color: black;
}

/*game page*/

.game-page {
    display: flex;
    flex-direction: column;
    max-width: 1250px;
    width: 100%;
    align-self: center;
}

.game-page > .game-details {
    display: flex;
    gap: 1em;
    padding: 1em;
    position: relative;
}

.game-page > .game-details > .game-cover,
.game-page > .game-details > object > .default-game-cover,
.game-page > .game-details > .game-text {
    flex: 1;
}

.game-page > .game-details > .game-cover {
    border-radius: 5px;
}

.game-page > .game-details > .game-text {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-family: var(--font-main);
}

.game-page > .game-details > .game-text > h1 {
    font-size: 2rem;
    font-family: var(--font-main);
    font-weight: 900;
    text-transform: capitalize;
}

.game-page > .game-details > .game-text > .publisher,
.game-page > .game-details > .game-text > .container > .release-date,
.game-page > .game-details > .game-text > .container > .genres > li,
.games > .games-grid > .filters > ul > li {
    width: fit-content;
    padding: 0.5em;
    text-transform: capitalize;
    border-radius: 5px;
    font-style: italic;
    font-size: 0.75rem;
}

.game-page > .game-details > .game-text > .container {
    display: flex;
    flex-direction: column;
    gap: 0.35em;
}

.game-page > .game-details > .game-text > .container > h4 {
    opacity: 0.25;
    /*font-style: italic;*/
    font-weight: 400;
}

.game-page > .game-details > .game-text > .publisher {
    background-color: var(--color-blue-transparent);
    border: 1px solid var(--color-blue);
    position: absolute;
    top: 1em;
    right: 1em;
}

.game-page > .game-details > .game-text > .container > .release-date {
    background-color: var(--color-yellow-transparent);
    border: 1px solid var(--color-yellow);
    display: flex;
    justify-content: space-between;
}

.game-page > .game-details > .game-text > .container > .genres {
    display: flex;
    list-style-type: none;
    gap: 1em;
}

.game-page > .game-details > .game-text > .container > .genres > li {
    border: 1px solid var(--color-green);
    background-color: var(--color-green-transparent);
}

.game-page > .game-details > .game-text > .delete-button {
    margin-top: auto;
    padding: 1em;
    background-color: black;
    background-image: linear-gradient(
        45deg,
        transparent,
        transparent,
        transparent,
        var(--color-red-transparent),
        var(--color-red-transparent),
        var(--color-red-transparent)
    );
    background-position: left bottom;
    background-size: 300%;
    border: 1px solid var(--color-red);
    border-radius: 5px;
    color: white;
    font-weight: 900;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.game-page > .game-details > .game-text > .delete-button:hover {
    background-position: right top;
}

.game-page > .game-details > .game-text > .delete-button:active {
    transform: scale(0.95, 1);
}

/*footer*/

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 1em;
    background-color: black;
    border-top: 1px solid #ffffff22;
}

.footer > span {
    font-family: var(--font-main);
}

@keyframes breathing {
    0% {
        transform: scale(1, 1.02);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes translate-horizontally {
    0% {
        transform: translateX(100px);
    }
    50% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes disappear-left {
    0% {
        transform: translateX(0%) scale(1, 1);
        opacity: 0;
    }

    50% {
        transform: translateX(-1%) scale(0.95, 0.95);
        opacity: 0.25;
    }

    100% {
        transform: translateX(0%) scale(1, 1);
        opacity: 0;
    }
}

@keyframes disappear-right {
    0% {
        transform: translateX(0%) scale(1, 1);
        opacity: 0;
    }

    50% {
        transform: translateX(1%) scale(0.95, 0.95);
        opacity: 0.25;
    }

    100% {
        transform: translateX(0%) scale(1, 1);
        opacity: 0;
    }
}

@keyframes scale-li {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes wiggle {
    0% {
        transform: rotateZ(0deg);
    }
    25% {
        transform: rotateZ(-20deg) scale(1.3);
    }
    75% {
        transform: rotateZ(20deg) scale(1.3);
    }
    100% {
        transform: rotateZ(0deg) scale(1.3);
    }
}

@keyframes pop-up {
    0% {
        transform: scale(1);
    }
    33% {
        transform: scale(1.1);
    }
    66% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes select {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
