<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title><%= title %></title>
        <link rel='stylesheet' href='/css/styles.css'>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/dark.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <script defer src="/js/utilities/handleGenreCheckboxes.js"></script>
        <script defer src="/js/addNewGame.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    </head>
    <body>
        <%- include('../partials/navbar.ejs') %>
        <main class='add-game-form'>
            <%- include('../partials/addGameForm.ejs') %>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
