<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>
            <%= title %>
        </h1>
        <% if(locals.publishers) { %>
           <ul>
                <% publishers.forEach((publisher) => { %>
                    <li>
                        <h2>
                            <%= publisher.name %>
                        </h2>
                        <form action='/publishers/delete/<%= publisher.id %>' method='POST'>
                            <button type='submit'>
                                Delete this publisher
                            </button>
                        </form>
                    </li>
                <% }) %>
           </ul>
        <% } %>
    </body>
</html>
